body{
    margin: 0;
}
/* Make header fill the viewport and center content */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: #1e3a8a;
  margin-bottom: 10px;
}

header p {
  font-size: 1.3rem;
  color: #555;
}