@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom dark mode styles */
body {
  background-color: #fff;
  color: #1a202c;
  transition-property: color, background-color;
}

/* Dark mode styles */
.dark body {
  background-color: #1a202c;
  color: #f3f4f6;
}